@font-face {
    font-family: 'Poppins-Medium';
    font-display: swap;
    src: url('../fonts/Poppins-Medium.ttf');
}
    
html {
    background-color: #d9d9d9;
    text-align: center;
    font-family: 'Poppins-Medium', sans-serif; /* Poppins-Medium фактически не работает с русскими буквами,
                                                  поэтому они отобразятся в стандартном sans-serif */
}

body {
    color: #404040;
}

#round_image {
    border-radius: 50%;
}

ul {
    list-style-position: inside;
    margin: 30px 33.33333333333333%;
    text-align: left;
}

footer {
    color: whitesmoke;
    background-color: #9b9b9b;
}